@import url("https://fonts.googleapis.com/css2?family=family=Amatic+SC&display=swap");
:root {
--primary-color: #1B98E0;
--secondary-color: #59c3c3;
--text-dark: #333;
--text-light: #ebebeb;
--primary-font: Arial, Helvetica,sans-serif;
--secondary-font: "Amatic SC";
}

body {
    margin: 0;
    background-color: slategrey;
}

img {
	max-width: 100%;
}



.recipe-view {
    border: 2px solid black;
    border-radius: 0.5rem;
    margin: 3rem 1rem;
    padding: 1rem;
    background-color: aliceblue;
}

.recipe-view img {
    max-height: 20rem;
    border-radius: 0.2rem;

}

.recipe-image {
    text-align: center;
    margin-bottom: 0.5rem;
}

.recipe-tags-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

}
.recipe-tags {
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    font-size: 1rem;
}

.hidden {
    display: none;
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.6rem;
}

#title img {
    width: 5rem;
    height: 5rem;
    padding-top: 1.5rem;
}


#recipe-search {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#recipe-search button {
    width: 2rem;
    height: 1.9rem;
}

#recipe-search input {
    height: 1.5rem;
    width: 55%;
}

.recipe-rating {
    color: rgb(0, 0, 0);
    font-size: 2rem;
}




.social {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 1rem;
}

.social img {
    height: 4rem;
}


footer a {
    font-size: 0.6em;
    color: black;
}




@media screen and (min-width: 600px) {
    .hidden {
        display: contents;
    }

    .recipe-view {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin: 3rem;
        padding: 2rem;
    }



}


@media screen and (min-width: 960px) {
    .recipe-view {
        margin: 3rem 15rem;
    }
}