@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Outfit:wght@100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
:root {
    --color1: #bfb5af;
    --color2: #ece2d0;
    --color3: #d5b9b2;
    --color4: #a26769;
    --color5: #582c4d;
    --font-color1: black;
    --heading-font: "Outfit", sans-serif;
    --primary-font: Helvetica, sans-serif;
    }

body {
    margin: 0;
    background-color: var(--color2);
    color: var(--font-color1);
    font-family: var(--primary-font);
}
h1, h2, h3 {
    font-family: var(--heading-font);
}

p {
    font-size: medium;
}

#nav-box {
    display: flex;
    justify-content: center;
    gap: 15%;
    margin-bottom: 1rem;
}

#subheading-box {
    margin-left: 1rem;
}

#home-link-container-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

#home-link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20%;
    border: 2px solid black;
    width: 80%;

}
.link-border {
    border: 2px solid black;
    border-radius: 0.5rem;
    padding: 5%;
    margin: 5%;
}

#about-me-container {
    border: 2px solid black;
    border-radius: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about-me-container p {
    padding: 0 2rem;
}
#about-me-container img {
    padding: 1.5rem 1rem;
    width: 70%;
    border-radius: 2rem;

}

#about-me-container-container {
    display: flex;
    justify-content: center;
}

a {
    color: var(--font-color1);
    text-decoration: none;
    font-family: var(--heading-font);
}

header {
    margin-top: 3rem;
    
    
}

hr {
    margin: 0;
    border: 1px solid var(--color1);
    width: 70%;
}
.hr-box {
    display: flex;
    justify-content: center;
}

#title-box {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

main {
    margin-top: 0;
}
footer p {
    margin-top: 3rem;
    margin-left: 2rem;
    color: var(--color5);
    display: grid;
}


.courses-view {
    border: 2px solid black;
    border-radius: 0.5rem;
    margin: 3rem 1rem;
    padding: 1rem;
    background-color: aliceblue;
}

.courses-view img {
    width: 80%;

    border-radius: 0.2rem;

}

.inner-courses-view {
    margin: 0.5rem 0.5rem;

}

.courses-image {
    text-align: center;
    margin-bottom: 0.5rem;
}


.hidden {
    display: none;
}


.piano-key {
    position: absolute;

    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    
    display: none;
}

.piano-key.black {
    margin-top: 0.5rem;
    background-color: black;
    border: none;
    z-index: 1;
}

.courses-button {
    display: flex;
    align-items: baseline;
    justify-content: right;
    margin: 1rem;
}

button {
    font-family: var(--heading-font);
}

#feedback {
    text-align: left;
    width: 50%;
    margin-left: 15%;
    
}

#name {
    width: 40%;
}

#mail {
    width: 40%;
}

#msg {
    height: 5rem;
    width: 50%;
    display: flex;
}

#feedback-container{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 600px) {
    .courses-view {
        margin: 2rem;
        padding: 2rem;
    }
    .inner-courses-view {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 1rem;
    }
    .courses-view img {
        width: 15rem;
        height: 12rem;
        border-radius: 0.2rem;
    }
    #home-link-container {
        flex-direction: row;
        gap: 1rem;
    }


    
    #about-me-container img {
        float: left;
        width: 30%;
        margin-left: 1rem;
        margin-top: -0.5rem;
        padding: 0 1rem;
        padding-top: 1rem;
        border-radius: 1rem ;
    
        
    }
    #about-me-container p {
    
        
    }
    #about-me-container {
        display: block;
        padding: 2rem 1rem;
    }
    #subheading-box {
        text-align: center;
    }



}
@media screen and (min-width: 800px) {
    .piano-key {
        display: block;
    }
    .courses-view {
        margin: 3rem 9rem;
    }
    #about-me-container, #home-link-container {
        margin: 1rem 9rem;
    }
    

}


@media screen and (min-width: 1000px) {
    .courses-view {
        margin: 3rem 15rem;
    }
    .courses-view img {
        height: 15rem;
        width: 20rem;
    }
    #about-me-container, #home-link-container {
        margin: 2rem 15rem;
    }
    #about-me-container img {
        width: 10rem;
    }
}