body {
    margin: 0;
}

header h1 {
    text-align: center;
    background-color: slategrey;
    margin: 0;
    padding: 2rem;
    color: #f5f5f5;
    font-size: 4rem;
}

hr {
    border: 1px solid palevioletred;
}

main {
    display: grid;
    padding: .5rem;
    background-color: slategray;
}

.book-view {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: slategray;
    color: #f5f5f5;
    margin-bottom: 1rem;
    
    
}

nav {
    text-align: right;
    margin: 1.5rem 0;
    font-size: 1.5rem;
}

a {
    padding: 1.5rem;
    color: slategray;
}

.rating {
    text-align: right;
    border-right: 2px solid #f5f5f5;
    padding: 1rem;
    
}

.review {
    background-color: slategray;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-left: 5rem;
    width: 20rem;
}
 
.review h2 {
    text-align: center;
}

.book-image {
    text-align: center;
}

.book-image img {
    width: 250px;
    height: 350px;
    padding: 1rem;
}

.filter {
    border: 2px solid black;
    text-align: center;
    background-color: white;
    grid-column: 3;
    height: 35rem;
    padding: 1rem; 
    margin-right: 2rem;
}